.explore-main {
  padding: 0 1rem 6rem 1rem;
  margin-top: -20px;
}

.explore-title {
  margin-top: 4.2rem;
  margin-bottom: 3.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
    text-align: left;
}

.grid-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@keyframes carouselRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.listing-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(260px, 1fr));
  gap: 3.5rem;
  justify-items: center;
}

.listing-grid > :nth-child(1),
.listing-grid > :nth-child(2),
.listing-grid > :nth-child(3),
.listing-grid > :nth-child(4) {
  animation: carouselRight 8s linear infinite;
}

.listing-grid:hover > :nth-child(1),
.listing-grid:hover > :nth-child(2),
.listing-grid:hover > :nth-child(3),
.listing-grid:hover > :nth-child(4) {
  animation-play-state: paused;
}

@media (max-width: 1100px) {
  .listing-grid {
    grid-template-columns: repeat(3, minmax(260px, 1fr));
  }
}

@media (max-width: 700px) {
  .listing-grid {
    grid-template-columns: 1fr;
  }
}
